.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 10px;
  color: #fff;
  transition: all 500ms linear;
}

.btn:hover {
  background-color: var(--color-neutral);
  border-color: transparent;
  border-radius: 15px;
}

.btn-light {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 10px;
  color: #fff;
}

.btn-light:hover {
  background-color: var(--color-secondary);
  border-color: transparent;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  border-radius: 10px;
  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}
