/*
:root {
  --color-primary: #2a4b62;
  --color-secondary: #9bcccc;
  --color-neutral: #163242;

  --font-primary: "Raleway", arial, sans-serif;
  --font-secondary: "Poppins", avenir, sans-serif;
}
*/

:root {
  --color-primary: #443730;
  --color-secondary: #550c18;
  --color-neutral: #a5907e;

  --font-primary: "Raleway", arial, sans-serif;
  --font-secondary: "Poppins", avenir, sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-neutral);
}

ul {
  color: var(--color-primary);
}

ol {
  color: var(--color-primary);
}

dl {
  color: var(--color-primary);
}

cite {
  color: var(--color-secondary);
}

em {
  color: var(--color-nuetral);
}

strong {
  color: var(--color-neutral);
}

a {
  color: var(--color-secondary);
}

mark {
  background-color: var(--color-secondary);
}
