@media only screen and (min-width: 60em) {

  .mission {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 90em) {

  .mission {
    padding-left: 15em;
    padding-right: 15em;
  }
}
